[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pypyodbc = "*"
pandas = "*"
jupyterlab = "*"
altair = "*"

[requires]
python_version = "3.6"
